[2018-12-11 11:32] purplemana opened #1 "Error: Connection closed before message response was received."
I tried to take this for a spin with a publicly available LDAP server. Older code with node-ldapauth-fork is running fine. With this package, I am getting an error. You can check the code and run it at https://repl.it/@purplemana/Ldapts. It's a copy-paste of the search example from the package's docs with the server details changed. You can get the ldap details here - https://www.forumsys.com/tuto

[2018-12-17 12:41] jgeurts commented on #1
I'm able to replicate the ECONNRESET response from that provider. Working on getting it fixed and I'll push out a new version when I do get it resolved

[2018-12-17 19:44] jgeurts commented on #1
@purplemana This should be fixed with release v1.1.2. Please let me know if you continue to have problems!

[2018-12-17 19:44] #1 closed

[2018-12-19 04:01] purplemana commented on #1
Thanks @jgeurts.  It no longer hangs. Could you please help me understand how can I use the `filter` to find a user in my example? I tried the following values but no results are returned:

- cn=riemann
- (cn=riemann)
- uid=riemann
- (uid=riemann)
- (&(objectCategory=person)(objectClass=user)
(cn=riemann))

To check the available entries, please comment out the filter clause and you will see all t

[2018-12-20 04:03] purplemana commented on #1
Thanks a ton @jgeurts!

[2018-12-28 13:56] adrianplavka opened #2 "Escaping filters & distinguished names"
First of all, I want to thank you for this repository. We switched our project's LDAP implementation from `ldapjs` to yours and it seems to be working just fine. Being a TypeScript project, it's just a cherry on top.

However, quickly glancing over the code, I couldn't find escaping mechanism of certain characters to prevent [LDAP injections](http://social.technet.microsoft.com/wiki/contents/artic

[2019-01-02 14:48] jgeurts commented on #2
Sorry for the slow reply - not sure why I don’t get notified unless specifically tagged. Anyway, I do have some escape logic for filters: https://github.com/ldapts/ldapts/blob/master/src/filters/Filter.ts#L36

I’m pretty sure that I don’t escape DN strings, however. I can look to adding that for the next release. Thank you for bringing this up and providing those links!

[2019-01-02 15:11] adrianplavka commented on #2
No worries, thanks for the clarification!

About the notification issue, try to follow this [StackOverflow answer](https://stackoverflow.com/a/10560931/8484638). Since this is not directly your own repository (but rather an organization's), then it might be causing some issues.

[2019-01-03 17:06] CDoughty08 opened #4 "Error types are not exported"
There is not an easy way to import the Error classes for checking in exception handling, having to do `import { InvalidCredentialsError } from 'ldapts/dist/errors/resultCodeErrors/InvalidCredentialsError'`.

Would it be reasonable to export these from the index.d.ts?

[2019-01-03 21:32] #4 closed

[2019-01-03 21:33] jgeurts commented on #4
Just pushed v1.2.1 with exports for error, filter, and message classes. Hope that helps! If you had something else in mind, please let me know

[2019-01-13 01:55] adrianplavka opened #5 "Reconnection policy"
As it goes with external services, if the service goes temporarily unavailable (by closing the socket), the client will not try to reconnect again.

With the current API, it is not possible, to define custom event handlers for implementing a reconnection policy.

My proposed suggestion would be (similar to `ldapjs` package), to have a new object setting in `ldap.Client`'s constructor named `reconn

[2019-01-29 06:48] Ashniu123 opened #6 "Error: Could not find declaration file for module 'asn1'"
I am making a program in TS and while building this error pops up. Any idea why?

[code]
Same error also occurs for other `.d.ts` files like `Attribute.d.ts`, `Change.d.ts`, `Control.d.ts`

Btw there is no types for [asn1](https://www.npmjs.com/package/asn1)

@jgeurts @adrianplavka

[2019-01-29 16:04] bensventures opened #7 "TypeError: Invalid data, chunk must be a string or buffer, not object"
This is not a bug report per se, I just wanted to share something that got me stuck with my current setup and maybe open a discussion about a PR.

I was getting this error when trying to bind to the ldap server given in the bind example:
[code]

After some investigation I identified the `asn1` lib used to create the buffer from the message as being the problem. Internet told me it is barely mainta

[2019-01-30 00:12] jgeurts commented on #6
Hrm... odd. I did have to create type definitions for asn1. Maybe you can add them to your tsconfig? https://github.com/ldapts/ldapts/blob/master/src/%40types/asn1.d.ts

[2019-01-30 00:18] jgeurts commented on #7
Hmm... I wonder if I defined something wrong when creating the type definition for asn1. I'm not married to that library, I used it because it is what ldapjs used.

Is there any way that you could find some more info about what type of object was sent to which asn method?

[2019-01-30 01:05] adrianplavka commented on #6
I can not reproduce it with my current setup, it all seems fine. Can you clarify which version of ldapts do you use?

@jgeurts Since the typings for the asn1 do not exist yet, what about adding them to the @types?

[2019-01-30 03:44] jgeurts commented on #6
Im working on adding the types to definitely typed. That should help others in these situations!

[2019-01-30 12:04] Ashniu123 commented on #6
I'm using v1.2.2 of ldapts which is the latest version right now.

That would resolve this issue. Thanks!

[2019-01-30 18:20] jgeurts commented on #6
I have a PR to DefinitelyTyped to add the types. It sounds like it takes a couple days to be approved, but it should be there shortly. You can follow progress at https://github.com/DefinitelyTyped/DefinitelyTyped/pull/32634

[2019-01-30 19:07] jgeurts commented on #6
@Ashniu123, the PR with DefinitelyTyped was approved and I pushed out v1.2.3 that references the asn1 types from there. Hope that helps!

[2019-01-30 19:07] #6 closed

[2019-01-31 17:25] jgeurts commented on #7
If you're able to make a reproduction with a unit test, that would be awesome. If you look in the unit tests, I use some live ldap servers. Hopefully those allow you to reproduce what you're seeing.

[2019-02-01 11:05] bensventures commented on #7
I'll look into it and get back to you 👍

[2019-02-05 11:43] bensventures commented on #7
So after doing testing I cannot reproduce the error on a clean setup with node 11 or 8. I am now thinking the problem might come from the old version of Node (4.8.1) I am using in this project or the babel transpiling that happens in the middle.

Provided that this repo requires node >= 8.11 it's really an issue with might particular setup and nothing to do with the code. I'm long overdue for a Me

[2019-02-05 11:43] #7 closed

[2019-02-14 14:38] vadimkozin opened #9 "how to limit connection time with LDAP server?"
The module works well! There is a question. If the LDAP server is available, then everything works, but if the LDAP server is not available (fell, does not respond to ping), then client.bind (...) waits a very long time. It would be nice to have the ability to set the maximum wait time for server availability

[2019-02-14 15:18] adrianplavka commented on #9
So, you mean a connection timeout?

I believe you can specify this timeout during creation of the `ldap.Client` through the ClientOptions (connectTimeout), which specifies "milliseconds client should wait before timing out on TCP connections".

[2019-02-14 15:40] vadimkozin commented on #9
Thanks for the answer
I tried. here is my config
But it does not work (it waits for a very long time) if I change the working ip address to a fictional one, for example, to ldap://192.1.2.3:389
—
module.exports = {
    LDAP: {
        url : 'ldap://192.168.222.1:389',
        searchDN : 'dc=rss',
... ... ...
        clientOptions : {
            timeout: 3,
            connectTimeout: 5
        }

[2019-02-14 16:41] adrianplavka commented on #9
I've created a test project, but I couldn't reproduce your problem.

[code]

This bind fails & outputs roughly at the exact time, as specified in `connectTimeout`. I am using `v10.14.2` Node version.

What I've noticed, is that you think, that `timeout` & `connectTimeout` options are represented in seconds - but they're actually in milliseconds.

It seems, that you're using, or creating the client

[2019-02-14 17:07] vadimkozin commented on #9
Yes, you are right, I have a mistake. I entered everything into the config, but the line remained as it is: const client = new Client ({url}). I did not fix it. About seconds / milliseconds - this is the little things.
Thank you, it works.

[2019-02-14 17:07] #9 closed

[2019-02-17 23:39] lennarkivistik opened #11 "Search & Modify with Buffer object"
Hi,
Superb library!

Is it possible to add a ignore parsing array option on client.modify and client.search to receive the raw buffer instead of the parsed response, ( in SearchEntry.js ) as it converts everything to a string.

`{
          scope: 'sub',
          filter: '(&(sAMAccountName=someAccount))',
          attributes: ['thumbnailPhoto', 'dn', 'name', 'something...'],
          noparsing:

[2019-02-19 20:42] jgeurts commented on #11
I've added support for binary attribute values. If the [binary subtype is specified](https://docs.oracle.com/cd/E19424-01/820-4809/bcacz/index.html), then the attribute value will be a Buffer array. Otherwise, it will be a string array.

To update the thumbnailPhoto with a new picture, you should be able to do the following:
[code]

Hope that helps!

[2019-02-19 20:44] jgeurts commented on #11
Likewise, if the server sends a binary type, the attribute value will be a Buffer array instead of a string array. That should take care of search results. Please let me know if you have troubles with this - I don't have access to an ldap server that has a binary attribute, unfortunately.

[2019-02-19 20:46] jgeurts commented on #5
I'm open to a pull request :) I've been holding off on making the client an EventEmitter, unless it's needed, to keep the usage as simple as possible.

[2019-02-19 20:46] #5 closed

[2019-02-20 22:55] lennarkivistik commented on #11
**Kudos!**
Works as described, subtype worked nicely for reading binary response
as did the example code you specified for writing to ldap!

Thanks for the help! @jgeurts

[2019-02-20 23:21] jgeurts commented on #11
Awesome, glad that worked!

[2019-02-22 08:06] jedsad5 opened #12 "how to modify ?"
hello
     please to help me.  when i call modify function required Change but when i import it and console log to check is undefined
    when i new Change , Attribute
-> TypeError: _ldapts.Change is not a constructor
-> TypeError: _ldapts.Attribute is not a constructor

--> my code <--
import { Client, Change, Attribute } from 'ldapts'
...
const mod = new Attribute({
      type: 'info;string',

[2019-02-22 09:26] jedsad5 commented on #12
after i mod ldapts/dist/index.js

__export(require("./Client"));
__export(require("./Attribute"));
__export(require("./Change"));

new i can use modify with Change and Attribute to modify ldap data

but i not sure this is correct way to use it ?

[2019-03-13 05:12] trevh3 opened #13 "'Socket connection not established' when server closes connection"
I'm encountering the 'Socket connection not established' error located at the top of the _send function in Client.js. This will occur when this.connected == true, but this.socket == undefined. We land here because (for example) the search function will only call _connect if this.connected == false, not if this.socket is undefined.

To reproduce:
1. Start server
2. Have client make a query. This se

[2019-03-13 20:36] jgeurts commented on #12
Hi, sorry about the delay in getting back to you. I continue to have problems getting notified of new issues unless directly mentioned, unfortunately.

Please have a look at https://github.com/ldapts/ldapts/blob/master/tests/Client.tests.ts#L185-L194 - it shows how to call modify. If you have additional questions, please let me know!

[2019-03-13 20:38] #13 closed

[2019-03-13 20:42] jgeurts commented on #13
Merged and pushed out v1.4.1. Thanks for the help!

[2019-03-13 21:14] #12 closed

[2019-03-22 18:51] ncampuzano opened #15 "Is there other way to get error instead exceptions?"
This module solve an error that happens with ldapjs. I'm excited to use ldapts, but I see a big problem because the errors do not handle with return codes but exceptions.
`try-catch` expression can affect to performance in app. Is there other way to handle errors and do not use `try-catch`?

[2019-03-22 21:15] jgeurts commented on #15
Unfortunately, no. All errors are thrown as exceptions with this library.

[2019-03-22 21:15] #15 closed

[2019-04-04 09:41] xelandreb opened #16 "Filter disabled users on AD"
I have just migrated from ldapjs and appreciate changes and corrections made on the code. Nevertheless, a filter using previously with ldapjs not work. It's normaly should remove desactivate users on AD (see last part of filter below).
[code]
Without userAccountControl Filter, I've got all users but with I've an empty result.

[2019-04-05 03:40] jgeurts commented on #16
Thanks for sending this. I’ll need to make a couple tests to see what this project is doing differently.

[2019-04-15 15:49] ma-zal opened #17 "The `sizeLimit` option is limiting result to N-1 items"
It looks like when `sizeLimit` option is defined, the library is returning N-1 items only (one item is missing). Example: When I selected `sizeLimit=2`, one item (user) were been returned only.

Tested on:  LDAPTS version: 1.4.2, LDAP server: Microsoft Active LDAP

---
Note: When sizeLimit is not defined, the real limit looks like 100 items. The default value is not documented in source code. But

[2019-04-24 13:16] stiller-leser opened #18 "Search filter with brackets yields no result"
Hey @jgeurts ,

first off thank you very much for the work.

I am experiencing an issue with the following query:

[code]
After replacing the brackets with `\28` and `\29` this call yields no result. However running: `ldapsearch -H ldaps://.... -x -w 'verySecret' -D myUser -b 'ldapGroupSearchDN' "(&(objectCategory=group)(displayName=My group \28something\29))"` does.

Any pointer why this is?

###

[2019-04-24 14:24] jgeurts commented on #18
Thanks for the report! I'll take a look and see what I can dig up about what's going on...

As for the protected method, I can't think of any meaningful reason for it to stay protected, so I can make it public for the next release.

[2019-04-24 14:51] jgeurts commented on #17
Hi! There can be some confusion with `sizeLimit` and `pageSize`. `sizeLimit` controls how many records should be returned regardless of paging.

If `pageSize` is not defined, then it will default to `100` unless `sizeLimit` is defined in which case `pageSize` will equal `sizeLimit - 1`. This is due to the [RFC](https://tools.ietf.org/html/rfc2696#section-3) where servers should ignore the paging c

[2019-04-24 15:21] stiller-leser commented on #18
Hey,

oh boy that was fast :)

Thank you very much for the feedback. From what I can tell (reverting the buffer in the _send method to string) it looks as if the request goes out correct (i.e. the brackets are replaced by the number codes). From looking at the options object in the SearchRequest it looks as if the filter has a `\\` in it...

If all it takes to make this method public is removing t

[2019-04-24 15:58] jgeurts commented on #18
Thanks for the PR! If you are able to reproduce the filter issue with a test, that would be helpful! I'm thinking this might be related to #16, so I'm trying to write some tests that show the incorrect behavior with expected results.

[2019-04-24 20:00] jgeurts commented on #16
Thanks for your patience with this! I'm going to release v1.5 shortly and that has a minor fix for ExtensibleFilterControls that I hope fixes your issue. If it does not fix things, if you could create a failing test, that would help me considerably. Extensible filters are complex and I don't have a ton of experience using them.

[2019-04-24 20:06] jgeurts commented on #18
I did notice that your example above was missing a closing parens. Does the following work for you?

[code]

I added a test for that to v1.5.0 and it produces the expected Filter objects.

[2019-04-24 20:13] #17 closed

[2019-04-25 08:45] stiller-leser commented on #18
Hi, yeah that parens went missing during my code cleanup for this issue.

However, I did realize that I have been using ldapts the wrong way. I now use `AndFilter` as well as `EqualityFilter`. The output is - as you said - correct (`(&(objectCategory=group)(displayName=My group \28something\29))`). Also: There is no need for the `Filter.escape` method anymore, since the cleanup now works automatic

[2019-04-25 11:43] jgeurts commented on #18
I’m not sure how to help more on this unless we can reproduce it with a test hitting jumpcloud or forumsys’ ldap servers (or other public ldap server).

It might be a little work, but could you capture the request sent from ldapts and ldapsearch to see how they differ? I might be able to help with that, in a few days, since parsing the response might not matter if the requests differ.

[2019-04-25 11:46] stiller-leser commented on #18
Unfortunately I do not have access to the LDAP server... The `*` workaround is good enough for the moment (as the result is presented in a dropdown to users).

I checked the forumsys ldap server. It doesn't seem like they have groups with `()` in them (at least it is not documented).

I'll see if I can come up with an example in the near future.

Thank you very much for the help though!

[2019-04-25 14:53] jgeurts commented on #18
I made a group in jumpcloud called `Something (Special)`. Hopefully that helps us try to reproduce the issue!

[2019-04-26 15:12] xelandreb commented on #16
Thanks for your work but i've just tested 1.5 and same problem always occurs.

Moreover, I thinks there is a regression because in 1.5, I've got error that not producing in 1.4.2 (same code) :

[code]

[2019-04-29 03:36] jgeurts commented on #16
Apologies about that! I'll see if I can get a couple tests to reproduce the behavior. If, in the mean time, you're able to reproduce it with the jumpcloud credentials in the tests or the forumsys publicly available ldap server, that would help a bunch.

[2019-04-29 22:36] jgeurts commented on #16
I pushed out v1.5.1. That has a change to disregard the `Size limit exceeded` response from a server when `sizeLimit` is specified. I'm honestly not sure what to do in that case as it appears that results are still sent back, but the server sends the `Size limit exceeded` response. With the two test ldap servers I have access to, they both behaved the same, where I got back the number of results I

[2019-05-09 21:43] #18 closed

[2019-05-09 21:44] jgeurts commented on #16
Looks like I was unnecessarily escaping filter names & values. Can you please try v1.6.0 and see if that resolves your issue?

[2019-05-16 19:07] RedShift1 commented on #11
This doesn't seem to work with Active Directory, where for example it's important to keep the binary version of objectGuid. Output from a search operation:

[code]

So we may want to have the option to retrieve the original buffer, in case the server doesn't report it as a binary field but you want to access it like that anyway.

[2019-05-17 11:58] lennarkivistik commented on #11
It works for me,

so for example doing a search like this with ldapts towards your Active Directory server will give me a list of all objectGUIDs for users
[code]

Then converting it to which ever format I want afterwords like this:
[code]

In this instance the hex matches exactly the hex in Active Directory on a specific user
if you go to the user properties --> attribute editor --> find objectGU

[2019-05-17 12:29] lennarkivistik commented on #16
I can confirm this works now.
user is not listed when disabled and reappears once enabled in Active Directory

[2019-05-17 12:32] jgeurts commented on #11
@RedShift1 please let me know if the example that @lennarkivistik wrote works for you. Mainly appending `;binary` to the attribute name.

If it doesn’t work, I’ll likely need a test that reproduces what you’re seeing in order to fix things.

[2019-05-17 12:34] jgeurts commented on #16
Great, thanks for letting me know! Glad it’s working for you!

[2019-05-17 12:34] #16 closed

[2019-05-18 12:02] RedShift1 commented on #11
Sorry I was mistaken, it didn't register with me I had to append ";binary" to the attribute name, I thought it _the server that was sending data with a binary attribute_ and that would automatically be picked up by the library which would then pass the buffer instead of a string. Never mind me then...

[2019-05-20 14:54] xelandreb commented on #16
Thanks a lot. It works perfectly !

[2019-05-21 16:02] #2 closed

[2019-06-05 08:01] stiller-leser commented on #18
Just as a FYI: finally came around to test this. Works perfectly. Thank you for your support here!

[2019-06-05 09:13] stiller-leser opened #21 "LDAP_MATCHING_RULE_IN_CHAIN yields no result"
Hi @jgeurts,

it's me - again ;)

I am currently testing the following ldap query `(&(objectClass=user)(displayName=SomeIdentifier)(memberOf:1.2.840.113556.1.4.1941:=CN=A Parent Group))` to search for a user in a group that contains many children groups. According to [https://docs.microsoft.com/en-us/windows/desktop/adsi/search-filter-syntax](this) `1.2.840.113556.1.4.1941` translates into a `LDAP

[2019-06-05 15:01] tastypackets opened #22 "Return empty attributes"
It would be nice if all attributes requested that exist on the server were returned, instead of needing to check for keys to know if they are empty. Currently ldapts will remove attributes returned by the server that are falsy. (empty strings) Requesting a binary version still returns no keys if the value is falsy.

For example if you want a users phone number, but the `telephoneNumber` attribute

[2019-06-05 18:49] nickzelei opened #23 "Any plans to port over server functionality?"
I just stumbled across this project and it looks promising. The ldapjs codebase has been dead for quite a while now and it's great to see some movement again.

I see that this only uses the client functionality from ldapjs, is there any plans to bring over the server functionality from it?

My team runs an internal ldap proxy and we use ldapjs. We currently have an internal fork of it to fix some

[2019-06-13 15:39] GCSBOSS opened #24 "Error on connection"
[code]

Getting this error on trying to connect. Let me know if you guys need some specifics.

[2019-06-14 11:57] sarus opened #25 "Determine if a client is still connected?"
Is there a simple way to check prior to running a search operation whether or not an ldapts client is still connected and usable?  Specifically, I'm using ldapts in conjunction with a connection pool (node generic-pool) and I'm trying to find an efficient way to validate bound clients to see if they are still usable (e.g., to make sure the connection hasn't timed out due to being idle) after the c

[2019-06-15 03:58] sarus commented on #25
Not sure how I missed this but looks like I can just use the `connected` flag on the client object.

Thanks!

[2019-06-18 15:03] december1981 commented on #24
This is happening for me, too, and, from a cursory glance at Client.js I'd say (and I'm hazarding a guess here as I've never touched nor looked at this code before)...

A bind operation is called, which results in ```_connect``` being called. ```_onConnect``` is called when connected and the underlying socket is marked as ```this.connected = true```.

So let's say an unbind operation happens, whic

[2019-06-19 17:27] kvslee opened #27 "binding with empty bindDN and password"
[code]

I created a function with a given example. When bindDN and password are empty string, isAuthenticated returns true. I find that isAuthenticated in Try block gets assigned 'true'. In my understanding, await delays until client.bind function returns, right? If empty bindDN and password gets an error in binding, it should jumps into catch block. Any clue?

[2019-06-20 05:20] hongkongkiwi commented on #23
I was also keen to use the server functionality. ldap is so core and supported by so many frontend auth solutions that it would be great to unify with a modern ldap server.

Perhaps we could get a list going of the core functionality we'd need for the server to be useful and go from there.

[2019-06-20 12:46] willmcenaney opened #28 "Change class not exposed in exports"
The change class is inaccessible to make modifications when importing the module.

Suggest the following line in index.ts would work
`export * from './Change';`

This would allow it on import as either:
const { Client, Change } = require('ldapts');
or
const Change = require('ldapts').Change;

[2019-07-04 00:27] keviv164 commented on #12
@jgeurts I am having the same issue
-> TypeError: _ldapts.Change is not a constructor
-> TypeError: _ldapts.Attribute is not a constructor

The test that is referred to in the earlier comment https://github.com/ldapts/ldapts/blob/master/tests/Client.tests.ts#L185-L194  is commented out.

[2019-07-11 16:32] jgeurts commented on #23
I'm open to accepting PRs for a server implementation. The main reason I haven't done so is that I only needed client functionality.

[2019-07-11 16:56] jgeurts commented on #28
This is merged, thanks!

[2019-07-11 16:56] #28 closed

[2019-07-11 17:59] jgeurts commented on #27
Some servers will allow an empty bindDN and password. It's called an anonymous bind. Unfortunately, I'm not able to have the forumsys or jumpcloud servers throw an error when I attempt an anonymous bind, so I can't really write a test for that case. But, my understanding is that if a server is configured to disallow anonymous binds, they should throw an `AuthMethodNotSupportedError` or similar.

M

[2019-07-11 20:04] zelein commented on #23
Understandable. I think there is currently space for a fresh ldap server implementation that frees everyone up from ldapjs.

[2019-07-12 00:16] jgeurts commented on #12
With v1.9.0 pushed out, does something like the following work for you?

[code]

[2019-07-16 15:24] intervalia opened #31 "More DOCs please"
It would be real nice if there were documentation for all functionality.

The current docs do not discuss features like add, change, etc. And I just have no clue how to use them.

[2019-07-16 16:51] tfrancois commented on #31
Thank you...very interested in the same.  Looking to migrate from ldapjs and this implementation is not a drop-in replacement it seems (via my own testing) so it would be helpful to know what changes need to take place in existing ldapjs-dependent solutions to retrofit to this newer (thank you btw!) version that I heard resolves the current issues with nodejs 10 and ldapjs.

Please just a few more

[2019-07-23 02:39] #27 closed

[2019-07-29 14:22] rgmz commented on #25
@sarus Wouldn't this issue still be relevant for TypeScript users since `connected` is private?

https://github.com/ldapts/ldapts/blob/63a657d93637c99345f024bd41ad3b92843f3d04/src/Client.ts#L142

[2019-07-29 16:59] rgmz opened #32 "Implement parseDN() from LDAPJS"
The `parseDN()` method is useful and would be a great addition.
http://ldapjs.org/dn.html#parsedndnstring

[2019-07-30 17:16] sarus commented on #25
@rgmz Hmm, good catch. Yes, I think this would still be an issue unless I'm missing some other way to check this.

[2019-08-10 00:17] noah-alvarado commented on #25
I think rather than making `connected` a public field, we should just add a public getter. I've also used ldapts with generic-pool, and v3 made each `Pool`'s factory members want a function as their definition.

Plus every other field on Client is private...it almost feels wrong to make just one public haha

[2019-08-21 07:31] colmbegs89 opened #34 "Modify Multiple Attributes at once"
is there a way to modify multiple attributes in a single change e.g. below
`  await client.modify(SEARCHCRITERIA'', new Change({
      operation: 'replace',
      modification: new Attribute(
        {
        type: 'title',
        values: ['web tester']
      },
        {
        type: 'displayName',
        values: ['John W Doe']
      }
      ),
    }));
`

or

`  await client.modify(SEARCHCRI

[2019-08-29 16:41] bobweil opened #35 "DN has embedded parentheses"
I search a group to retrieve the paths for each user in the group, then query each using that path as the distinguished name.  Unfortunately, some of the DN entries contain embedded parentheses like this:
`CN=Joe Cool (contractor),CN=Users,DC=myco,DC=mycompany,DC=com
`
These parentheses choke the filter parser in ldapts.  I've tried various schemes for escaping them, but still get rejections from

[2019-09-11 19:15] intervalia opened #36 "Please let your errors include the original error message too."
In your bind function, and most others, you send the LDAP command and then, if the response was not 0 (Success) then you call `StatusCodeParser.parse(result.status);`

But this throws away the original message that was part of the results and replaces it with your error messages.

Honestly I really don't want your error messages. I want the original message.

At a minimum can you include both your

[2019-09-16 21:26] intervalia commented on #34
Or even like this:

[code]

or this:

[code]

[2019-09-20 21:52] #23 closed

[2019-09-20 21:53] jgeurts commented on #21
If you can please reproduce this with a publicly available ldap server, that is the only way I'll be able to fix this. If that's possible, please re-open this issue

[2019-09-20 21:53] #21 closed

[2019-09-20 22:29] jgeurts commented on #34
It doesn't seem that ldap supports modifying multiple attributes as part of a single change statement, but you can modify multiple change statements as part of a single modify call:

[code]

Please let me know if that helps!

[2019-09-20 23:25] #22 closed

[2019-09-20 23:25] #24 closed

[2019-09-20 23:25] #25 closed

[2019-09-20 23:25] #36 closed

[2019-09-23 19:18] intervalia commented on #36
Thank you!! This is much better.

[2019-10-05 18:34] rgmz commented on #35
Hi @bobweil,

You should be able to use the built-in filter to accomplish this:

[code]

[2019-10-14 02:34] keviv164 commented on #12
Sorry for the delay. It works fine with 1.9.0. Thank you :)

[2019-10-14 21:33] kabo commented on #11
Appending `;binary` doesn't seem to work on AWS SimpleAD.

[code]
prints

[code]

[2019-10-14 21:51] jgeurts commented on #11
I can take a look at what ldapjs is doing with the `raw` property, but I won't be able to test very well it as I don't have a reproducible ldap server for this issue.

[2019-10-21 18:33] bobweil commented on #35
Thanks for that.  Where can I find API documentation that describes this?  I've checked out lpdapjs as well and while it acknowledges the existence of Filter objects, it does not describe them.

[2019-11-13 14:14] colmbegs89 commented on #34
@jgeurts  really sorry for the late reply, that was the perfect answer, cheers!

[2019-11-13 14:14] #34 closed

[2019-12-11 02:24] d95sld95 opened #52 "Client EXOP fails with TypeError: Cannot read property 'toString' of null"
Using Active Directory this function fails in the method ldapClient.exop(....)

[code]

I get this stack trace

[code]

[2019-12-11 02:28] d95sld95 commented on #52
Line 216 in the client does return a result object like this:

[code]

[2019-12-11 02:39] d95sld95 commented on #52
If I provide an invalid OID, this is the response I get

[code]

[2019-12-12 01:09] d95sld95 commented on #52
ps. ldap.js returns status of 0.

[2019-12-12 13:15] jgeurts commented on #52
Thanks for letting me know! I’ll see about reproducing this with a test and public ldap server. Once there’s a unit test, I can get a fix out quickly.

Feel free to submit a unit test reproducing this with jumpcloud or forumsys, if you have the time.

[2019-12-16 23:39] #31 closed

[2019-12-16 23:39] #52 closed

[2019-12-17 00:09] jgeurts commented on #31
Apologies this took so long... Hopefully the documentation update helps!

[2019-12-17 03:18] intervalia commented on #31
Thank you. Excellent additions to the Docs. Greatly appreciated.

[2019-12-19 04:12] Toxicable commented on #11
For some reason something transforms our input attribute `'thumbnailPhoto;binary'` into `THUMBNAILPHOTO;BINARY`

So I bad to modify the lib to do
[code]
Once I did that it worked for me when doing a search, the result was already a `Buffer` so I didn't have to do what @lennarkivistik suggested.

[2019-12-20 18:33] #11 closed

[2019-12-20 18:34] jgeurts commented on #11
@Toxicable Thanks for letting me know! Release 2.0.2 should have this fixed for you!

[2020-01-08 17:01] thomascmurphy opened #71 "Implement StartTLS"
This would be a huge benefit for us, as only simple auth is supported at the moment we will have to require an ldaps connection. I just tested out using starttls with the ldapjs library and it seems that it would fix our issue and allow plain ldap connections once again. I would love to continue using ldapts in our project but for now I may have to just wrap the ldapjs stuff :(

[2020-01-09 17:07] jgeurts commented on #71
I'm curious about the use case for having a `startTLS()` method vs specifying the `tlsOptions` when creating the client.

[2020-01-09 18:35] thomascmurphy commented on #71
Oh hopefully I'm just missing something that I can overcome with settings, that'd be sweet! The use case right now is that our security team has noticed that using simple auth over plain ldap:// is sending the credentials cleartext (which makes sense) but we wanted to avoid having to require ldaps:// for all connections so the starttls came up as an option to provide a secure connection even over

[2020-01-09 19:41] jgeurts commented on #71
hmm, I'm not sure I understand fully. Am I correct that you want the bind operation to be sent over ldaps://, but not other operations like search?

For what it's worth, if the url starts with ldaps://, then by default port 636 is used and the socket is created using tls.connect(), rather than net.connect(). All subsequent communication takes place using the socket, so if a secure connection is es

[2020-01-09 20:18] thomascmurphy commented on #71
Oh yeah the ldaps:// communication works fine, the StartTls is just a way to provide the secure communication (still over :389 and with the normal ldap protocol) when ldaps isn't set up on the LDAP server itself. Using the starttls option in ldapjs seems to do the trick: we pass it a cert to use for the encryption and it (from what I can see in the source code anyway) does a tls.connect() with tha

[2020-01-09 20:33] jgeurts commented on #71
ah, I see the case it's missing now. What if I add `secure` to the options passed to the `Client` constructor?

That way, you could do something like:

[code]

[2020-01-09 20:34] jgeurts commented on #71
Or I could infer that it's secure if tlsOptions are passed and might be able to avoid adding an explicit `secure` property

[2020-01-09 21:26] thomascmurphy commented on #71
Ah that's true. I am definitely not an ldap expert but I would think that if a user passed in a cert to the tlsoptions they would want it to be secure? Either way would work fine for us. I'm not sure if there's anything more involved with the starttls beyond the connection that you open, I know that in ldapjs you have to make an explicit call to `starttls(...tlsOptions)` before you bind so it migh

[2020-01-09 21:51] jgeurts commented on #71
Looks like ldapjs replaces the internal socket with the secure one when starttls() is called. I'll push out an update to use a secure socket when `tlsOptions` is specified, regardless of url or port. Hopefully that works for you!

[2020-01-09 21:55] thomascmurphy commented on #71
sweet, I'll test it out. Thanks very much!

[2020-01-09 22:22] jgeurts commented on #71
v2.1.0 has that update. Please let me know if you still have troubles!

[2020-01-10 17:51] thomascmurphy commented on #71
This does not seem to be working for me (at least in the same way that the ldapjs stuff is working). Just updated and am using:

[code]

but am getting `Client network socket disconnected before secure TLS connection was established` (this was the same cert that I was using to test the ldapjs starttls). I think there may be more involved that simply opening the tls connection. From what I could se

[2020-01-10 19:48] jgeurts commented on #71
my apologies! I completely missed that startTLS was an extended operation... working on adding that now

[2020-01-12 15:30] jgeurts commented on #71
Ok, please give v2.2 a shot. I added `startTLS()` and some tests

[2020-01-12 15:30] #71 closed

[2020-01-13 18:25] thomascmurphy commented on #71
Huzzah! I just tried it out and it seems to be working well, thanks so much for your help!

[2020-01-14 00:31] jgeurts commented on #71
🎉

Great, glad it worked!

[2020-01-14 09:08] ma-zal commented on #22
I would like to ask, why empty attribute is filled by empty array `[]`? In the nice-to-have example you mentioned `telephoneNumber: ''`, that makes sense to me. But in reality for example when `mobile` attribute  is unfilled, it is returning `mobile: []`. Is this correct implementation, or bug? Personnaly I am expecting more the `null` value or empty string... not the empty array.

[2020-01-15 19:48] jgeurts commented on #22
I originally wrote the search result attribute to mimic [how ldapjs handles attribute values](https://github.com/ldapjs/node-ldapjs/blob/master/lib/messages/search_entry.js#L48-L58). They return an empty array when there is no attribute value.

Like ldapjs, for cases where an attribute only has one item in the array, we'll just take that single value.

From the [ldap v3 rfc](https://docs.ldap.com/

[2020-01-22 07:51] soletan opened #72 "Binary attribute value gets corrupted due to wrong encoding"
Tried accessing a Samba-based PDC via LDAP including its objectSid attribute which comes binary-encoded. Just like with ldapjs I was realizing that binary content exposed this way gets corrupted due to assuming UTF-8 encoding when converting attribute values from Buffer to string, even though the resulting string is full of Unicode escape sequences, afterwards. In my case a 25-bytes buffer value b

[2020-01-27 21:01] bobweil opened #73 "TS4090: (TS) Conflicting definitions for 'node'"
I'm getting a TS4090 error now in my project since updating ldapts.  My work around is to delete this typings file from ldapts.  The node typings at my project level is apparently newer and typescript doesn't know what to do.

[2020-01-27 21:25] #35 closed

[2020-01-31 10:52] guenthergmbh opened #74 "Add Buffer as second parameter for extended operation"
Can we change:
`public async exop(oid: string, value?: string, controls?: Control|Control[])`
to:
`public async exop(oid: string, value?: string | Buffer, controls?: Control|Control[])`?

In ExtendedRequest.ts Buffer as value is allowed, as per definition it should also be allowed in Client.ts for the calling method?

[2020-03-02 08:26] shynome opened #76 "modifyDN newSuperior is not implement"
I have found a TODO in comment, and think this is in need #32

[2020-04-08 10:41] NenadJovicic opened #77 "Can't do a search query if connection got closed by LDAP server"
I switched to this library from `ldapjs` to try to fix a bug when connection get closed by LDAP server.
By searching some issues, thought this problem is fixed, but that is not the case.

I get disconnected from LDAP server after 15 minutes of inactivity.
When I do new request after more than 15 minutes, I got error like this
![Selection_165](https://user-images.githubusercontent.com/2767416/78774

[2020-04-13 21:39] wmantly opened #78 "Validate login of user."
I am trying to use this project to log users in. After the system forms a bind, it needs to take the username and password provided by the user and validate it.

[2020-04-13 21:54] wmantly opened #79 "Compare does not work with read only user."
When bind with a read-only user and try to use compare, I get this message:

[code]

[2020-04-15 05:53] wmantly commented on #79
This can be closed, it was my mistake.

[2020-04-15 05:53] #79 closed

[2020-04-16 11:45] joostdecock commented on #72
Same problem fetching the `thumbnailPhoto` attribute from Active Directory. It would be nice to be able to get the raw value.

[2020-04-22 14:21] NenadJovicic commented on #77
After some testing, found out that `client.isConnected` is set to `false` when server close connection, so I am using that before each query to `bind` client again. Think this one can be closed

[2020-04-22 14:21] #77 closed

[2020-05-18 13:36] lennarkivistik commented on #72
try fetching: **thumbnailPhoto;binary**
https://github.com/ldapts/ldapts/issues/11

[2020-05-19 22:42] jgeurts commented on #78
I'm not sure if you're asking a question or just letting me know how you're using the library :)

[2020-05-19 22:50] #74 closed

[2020-05-19 22:50] jgeurts commented on #74
Fixed in v2.4.0

[2020-05-19 22:57] #73 closed

[2020-05-19 22:58] jgeurts commented on #73
Fixed in v2.5.0

[2020-05-20 17:10] wmantly commented on #78
I am asking a question, on how to properly use this library. My main use it to add LDAP backed login to my projects. I have set up a read-only bind user to perform operations on behalf of the system.

Now for my users, when they fill out the GUI login form, i need to validate they gave valid credentials.
At this point, i need to unbind from the system bind user and with the user-provided credentia

[2020-06-05 01:31] saostad opened #80 "[bug] filter Missing paren"
Hi,

I am getting Missing paren error for filter bellow:
[code]
It looks like my filter is correct and error is a bug!
could you please take a look at it and let me know what's wrong in my filter?

error:
[code]

[2020-06-06 21:20] saostad commented on #80
sorry `(!(objectClass=computer)(objectClass=group))` part was the problem, thanks!

[2020-06-06 21:20] #80 closed

[2020-06-25 19:24] SBits2019 opened #81 "startTLS error"
I am not sure if I am doing this correctly, I was not able to find any example code to do this.

I would like to use the `startTLS` extended operation to establish a secure connection to my ldap server and then bind the uname/pwd to authenticate a user.

I get the following error
`{ Error: Client network socket disconnected before secure TLS connection was established
    at TLSSocket.onConnectEnd

[2020-06-26 09:09] #81 closed

[2020-07-01 20:00] BytewaveMLP commented on #11
I'm having the same issue as @kabo when attempting to retrieve the `jpegPhoto` attribute from users via a search. Attempting to retrieve `jpegPhoto` returns a corrupted binary string, but attempting to search for the attribute `jpegPhoto;binary` returns an empty array.

Here is a minimal example:

[code]

[code]

Using OpenLDAP 2.4.50 (via Docker image `osixia/openldap:1.3.0`) and `ldapts` 2.5.1.

[2020-07-12 02:17] BytewaveMLP commented on #11
Upon further investigation, it seems like this is just an issue with the LDAP standard itself (and maybe OpenLDAP adhering too strongly to the standard as well?). I did a lot of digging, and discovered that the binary attribute option (`;binary`) only applies to certain attributes types ([RFC4522 section 3](https://tools.ietf.org/html/rfc4522#section-3)):

I'm not entirely sure, but it seems like

[2020-07-12 02:26] BytewaveMLP opened #82 "Allow retrieval of raw attribute value in search results without ;binary attribute option"
As mentioned in [my comment](https://github.com/ldapts/ldapts/issues/11#issuecomment-657163638) on #11, OpenLDAP doesn't return attribute data when requesting attributes with the `;binary` attribute option in searches unless those attributes are explicitly encodable with BER. Unfortunately, attributes like `jpegPhoto` do not meet this requirement, and it seems to be impossible to coax OpenLDAP int

[2020-07-15 21:09] #72 closed

[2020-07-15 21:09] #82 closed

[2020-07-15 21:12] jgeurts commented on #82
Should be able to explicitly specify which attributes should return as Buffer now. Please let me know if that is an acceptable solution for you!

[code]

[2020-07-15 21:13] jgeurts commented on #72
As of v2.6.0, you can now explicitly specify which attributes should return as Buffer. I hope that helps with some issues getting binary values.

[code]

[2020-07-15 21:31] BytewaveMLP commented on #82
This is perfect, thank you! Just tested with my project, and I'm able to get the JPEG out of LDAP now.

Thank you for the quick fix! ❤️

[2020-07-15 21:39] jgeurts commented on #82
Great, thanks for verifying!

[2020-07-17 11:46] mbornath opened #83 "Concurrent searches ('ldaps' protocol) with node > v12"
## Expected Behavior

When performing more than two search operations simultanously, every single one should resolve correctly.

## Actual Behavior

Only the first two search operations are resolved (Even though the ldap server answers correctly).

This does only occur with node.js >= v12.

It does not occur with only two concurrent search operations.

From our ldap server logs, we can see, that t

[2020-07-28 16:33] svenmuellerssen commented on #78
Hi @wmantly ,
I am searching for a library to communicate with a LDAP server and found this one. Because of your questions I was looking around in the code and found the _InvalidCredentialsError_. So I assume that you only have to use a _try...catch..._ block for the bind and catch this error if it fails because of wrong credentials. Maybe this solves your first question.

If I understand the cont

[2020-08-10 10:46] yuvigrg opened #85 "TLS Connection to LDAPS"
Package Version: 2.6.1
Node: 10
AD protocol: ldaps

I am trying to establish a TLS connection between the AD and my node service however I am getting an error
` unable to get local issuer certificate`

My implementation of the code looks something like this, where I am getting the certs from the AWS SSM.
[code]

The AD is using certificates issued by the global CA.

I tried using the startTls func

[2020-08-24 22:45] yuvigrg commented on #85
Not an issue associated with the package. Hence closing it.

[2020-08-24 22:45] #85 closed

[2020-09-06 15:32] jgeurts commented on #83
Thank you for the detailed error report! [I added a test to](https://github.com/ldapts/ldapts/blob/master/tests/Client.tests.ts#L351-L387), I hope, cover your issue, but [I do not see the same behavior as you do](https://github.com/ldapts/ldapts/actions/runs/241809142). Please let me know if I'm missing something or if there's another way that I could reproduce the behavior!

[2020-09-17 19:37] pbrickell opened #86 "Specify client network interface"
Is it possible to specify a network interface to use when creating a client? TIA.

[2020-09-21 07:21] mbornath commented on #83
Thank you for your efforts. I could reproduce that the searches are working with the ldap server that you used in your tests. After further investigation we found out, that the problem exists only for e-Directory. So the problem has nothing to do with ldapts or ldapjs. Sorry for the inconvenience and thanks again. You can close this issue.

[2020-09-21 07:21] #83 closed

[2020-09-21 15:06] jgeurts commented on #83
Sounds good, if you're able to analyze the network traffic and come up with a patch that fixes things, please let me know and I'm happy to add it to the library!

[2020-09-21 15:09] jgeurts commented on #86
I believe that would fall on the OS routing configuration based on the destination network of the server. If I'm missing something more specific to ldap, please let me know!

[2020-09-21 19:40] pbrickell commented on #86
No that's a real help. Thanks.

[2020-09-21 19:40] #86 closed

[2020-10-13 18:54] ctaschereau opened #88 "Unhandled promise rejection - Error: AddRequest: Operation timed out"
Package Version: 2.7.0 (but also tested with 1.9.0 and the bug is still present)
Node: 14
AD protocol: ldaps

If for some reason we attempt to add a user with a **null** password, we get an unhandled promise rejection even if we catch the "add" error. I tried listening on the client.socket's events, but that did not help in any way. Although this can be prevented higher up in our code, it seems li

[2020-10-14 19:14] #88 closed

[2020-10-14 19:14] jgeurts commented on #88
Thanks for reporting this! v2.8.1 should have a fix for this. If it doesn't solve it as you expected, please let me know!

[2020-10-24 14:28] thernstig opened #89 "SASL external with TLS client certs"
I added a similar request/question to ldapjs but thought I'd ask here as well, since this seems better maintained. I've read the issues and docs and am pretty sure this is not supported, but wanted to check anyway.

I need to use LDAP (as a client) over ldaps:// where the tlsOptions contain a key and cert for TLS client authentication. I.e. the LDAP server (the peer) will verify my LDAP client via

[2020-10-31 19:14] kkaiyang94 opened #90 ""+" operational attribute not working for cn=monitor"
I am using the following options for my LDAP search:

![image](https://user-images.githubusercontent.com/39152388/97787924-51f27d00-1b72-11eb-839a-f6b96cbe7e47.png)

And I am expecting a result like this:

![image](https://user-images.githubusercontent.com/39152388/97787947-7a7a7700-1b72-11eb-8a1a-d6db93565580.png)

I am not getting any of the operational attributes, only the user's data.

![image

[2020-11-02 15:47] benlye opened #91 "Example (or even elaboration) for creating a Control"
I'm need to perform an LDAP query using an extended control. (Specifically, Active Directory using `1.2.840.113556.1.4.417`).

The documentation doesn't have any examples for creating a `Control` to pass to the search client.  I've tried a few things but can't figure it out on my own.

I found [this example](https://github.com/ldapjs/node-ldapjs/issues/381#issuecomment-525503221) for ldapjs but no

[2020-11-03 00:24] #90 closed

[2020-11-03 10:00] stiller-leser commented on #81
@SBits2019 How did you resolve the issue?

[2020-11-10 23:36] jgeurts commented on #91
Yeah, that was not clear or easy to use at all... Version 2.9.0 changes the `Control` class to be public and adds a more useful constructor. You should be able to do the following:

[code]

Also, apologies on the late reply with this. I'm still not getting new issues that do not directly @jgeurts mention me :(

[2020-11-10 23:39] jgeurts commented on #89
Thanks for reaching out and apologies on the late reply! New issues without an @jgeurts mention to me seem to not notify me. SASL will take a bit of work to hook up, but it should be doable... The main problem will be testing it as I don't have access to an ldap server that allows SASL authentication. If you are able to provide that, I would be happy to work on SASL. Otherwise, I can try releasing

[2020-11-10 23:41] #91 closed

[2020-11-10 23:43] jgeurts commented on #91
Please let me know if things still do not work as expected and I'll be happy to work through it!

[2020-11-11 12:29] thernstig commented on #89
It would be amazing if you made this work. If you release a beta version, I surely could help verifying it. I cannot share the exact server we are using which is a private Dockerimage file. But it uses OpenLDAP in the background to create the server so I assume it can be achieved with OpenLDAP?

[2020-11-11 12:30] thernstig commented on #89
@jgeurts Oh and if you can read Python code, then https://github.com/cannatag/ldap3 implements SASL.

[2020-11-11 17:24] jgeurts commented on #76
I think this was resolved with [v2.8.0](https://github.com/ldapts/ldapts/releases/tag/2.8.0). Please let me know if I'm incorrect!

[2020-11-11 17:24] #76 closed

[2020-11-11 17:43] benlye commented on #91
Awesome, thank you!

Only thing to add is that I had to add an explicit import for Control, so maybe it's worth showing that in the example?
`import {Control} from 'ldapts/controls/Control';`

[2020-11-17 16:00] thernstig commented on #89
@jgeurts Did you think you had time to look at this? I am glad to help out verifying.

[2020-11-17 22:00] jgeurts commented on #89
Could you please give v2.10.0 a shot? I tried to add SASL auth to bind(). Hopefully I got it right :)

[code]

[2020-11-18 12:57] thernstig commented on #89
I will give this a go and come back to you!

[2020-11-27 12:21] thernstig commented on #89
@jgeurts I tested it and could not get it to work. I tried two things:

[code]

This gave me:

[code]

I also tested this:

[code]

This gave me:

[code]

There are a couple of things I do not understand about the API seen in the readme:

1. Why does SASL EXTERNAL allow for credentials such as `await client.bind("EXTERNAL", credentials);`? According to what I understood, using SASL EXTERNAL should

[2020-11-27 15:04] thernstig commented on #89
A good reference here https://ldap.com/the-ldap-bind-operation/ says:

Does the SASL EXTERNAL require multiple request/response cycles? Could the error lie in the code there somewhere? I assume https://tools.ietf.org/html/rfc4513 and https://tools.ietf.org/html/rfc4422#appendix-A gives the best answers.

[2020-12-01 17:41] thernstig commented on #89
@jgeurts Do you have any idea what might be wrong?

[2020-12-01 21:49] jgeurts commented on #89
I've been looking through some of the documentation, but I don't readily see what should happen when `SaslBindInProgressError` is thrown. It seems like maybe the request should be made again, but I'm not 100%... without a server to test, I'm kind of shooting in the dark

[2020-12-02 10:42] thernstig commented on #89
@jgeurts would https://github.com/cannatag/ldap3 maybe help? They have SASL support.
Starting from https://github.com/cannatag/ldap3/blob/dev/ldap3/protocol/sasl/external.py and https://github.com/cannatag/ldap3/blob/4d33166f0869b929f59c6e6825a1b9505eb99967/ldap3/protocol/sasl/sasl.py#L156

Yes, I do think that the request-response cycle is not completed in that case, as the text I quoted indicate

[2020-12-02 22:35] jgeurts commented on #89
Please give v2.10.1 a shot. I removed a sequence id for the sasl details. The documentation wasn't super clear to me if it was needed or not and the value I had was based on an example I saw at https://ldap.com/ldapv3-wire-protocol-reference-bind/. If you still get SaslBindInProgressError, can you try calling `.bind()` again and see if that does anything? I apologize, this is pretty difficult for

[2020-12-03 16:09] thernstig commented on #89
Thanks @jgeurts I will make sure to test this tomorrow first thing.  I will try to grab some logs if I can as well if it fails.

[2020-12-07 10:20] thernstig commented on #89
with version 2.10.1 this `await client.bind('EXTERNAL');` gives
[code]

[2020-12-07 14:09] thernstig commented on #89
Does this help? I compared the server logs when using `ldapsearch` vs `ldapts`:

**ldapsearch**
[code]

**ldapts**
[code]

To note is that internally OpenLDAP maps the `cn=some-client` to `cn=authenticator`. So that `cn=authenticator` is most likely not coming from the client.

And here is output from ldapsearch with `-d 9`:
[code]

[2020-12-07 14:17] thernstig commented on #89
@jgeurts And to answer your question: I cannot do another bind request with ldapts since it throws with that error so I never reach any part below `await client.bind('EXTERNAL');`

[2020-12-07 20:41] thernstig commented on #89
@jgeurts I found something that might help? Check here where someone explains how he implemented it for Golang:
https://stackoverflow.com/a/58288408

Here is the code: https://github.com/go-ldap/ldap/pull/232/files#diff-aade326d3512b5a2ada6faa791ddec468f2a0adedb352339c9e314e74c8949d2R118

[2020-12-14 15:46] jgeurts commented on #89
Thank you for the additional info, I'm hoping it helps me wrap my head around sasl! It seems that ldapi (ldap over unix sockets) is somewhat related. I wasn't planning on supporting that - do you know if it's needed from your setup? I'll try to get back to looking into this later this week or next.

btw, you shouldn't need to @ mention me anymore. I think I resolved my notification issues

[2020-12-15 17:07] thernstig commented on #89
It is not needed in my setup. I use `ldaps` to connect over TLS+TCP to a remove server (obviously TLS since that is what I want to use with SASL EXTERNAL 😄)

Great!

[2020-12-21 10:37] thernstig commented on #89
Did you get a chance to look into it? (also testing if not using @ works for you now).

[2020-12-22 19:24] jgeurts commented on #89
I haven't had a chance yet, but on the plus side, the notification worked :)

[2020-12-26 21:58] paulrobello opened #92 "How do you handle / hook referrals?"
I have a multi domain tree and different domains require different credentials so i need to intercept the referral and rebind using the appropriate credentials.

[2020-12-26 22:35] jgeurts commented on #92
Hi @paulrobello, I'm not familiar with rebinding unfortunately. I am happy to help if the code needs to be altered, though! Please let me know if there's anything I could assist with

[2020-12-27 01:44] paulrobello commented on #92
**Relevant reference in ldapjs docs:**
[http://ldapjs.org/client.html#search](http://ldapjs.org/client.html#search)
[code]
Rebinding simply creates a new connection to the ldap server you are being referred to which may or may not require a different set of bind creds.

**Sample referral chaser callback for ldapjs**
[code]

[2020-12-29 00:18] jgeurts commented on #92
Ah, gotcha, thanks for the additional info!

I'm hoping the following pseudo code can help (there may be some typos):

[code]

[2020-12-30 22:44] paulrobello commented on #92
Exactly what i was looking for. Thank you!

[2020-12-30 22:44] #92 closed

[2021-01-25 10:50] thernstig commented on #89
I noticed you merged https://github.com/ldapts/ldapts/commit/3763f0e66c5091fbe1f372088f85db22999481ed - does this mean I can try to test again?

[2021-01-26 19:49] jgeurts commented on #89
Unfortunately, no. This change just brings back the same behavior as what I had at the end of November

[2021-02-22 08:45] thernstig commented on #89
@jgeurts this being open source and all, I completely understand and respect if you do not have time to try to add this functionality once yet again. Still, I'm kindly asking if you have the time. SASL auth will be a great use for any LDAP users since it's not that uncommon nowadays. (I am actually surprised not more users asked for this before).

[2021-02-25 13:35] jgeurts commented on #89
Apologies for how long this has taken. I think ultimately, I’ll need a test server or docker image.

[2021-02-25 23:04] #78 closed

[2021-02-25 23:04] #32 closed

[2021-03-11 06:44] soletan opened #93 "FR: expose errors as part of API"
I'd like to detect, whether some bind request is failing due to technical issues (like connection timeouts) or because of provided user DN/password being wrong. Currently I have to import the error classes from `ldapts/errors` for that. Is it possible to include the errors with the base API available from `ldapts` itself?

[2021-03-11 06:48] soletan opened #94 "noisy log exposes secrets"
When using your library it seems to log quite noisily whatever is going on. Basically, this might be a good idea. But when it comes to logging bind operations it is covering used passwords in cleartext which seems to be unnecessary not to say probable source for collecting a wide range of user credentials.

[2021-03-11 08:41] thernstig commented on #89
@jgeurts Any chance you would like to give it a last chance without one? 🙏 I understand this is very hard to do. My project is propertiary, which means I cannot share it. The code in the Python project gives no great hints to follow-up on?

[2021-03-15 14:54] jgeurts commented on #93
Yep! I'll include this in the next release

[2021-03-15 14:55] jgeurts commented on #94
I will try to address this for the next release. Thanks for letting me know!

[2021-03-15 14:57] jgeurts commented on #89
For sure, I haven't given up on this... It's just not super high on my priorities at this time. I will try to carve out some time to look into this some more. If, in the mean time, you're able to provide a docker image of OpenLDAP (or similar) setup to accept sasl, that would help immensely.

[2021-03-15 18:02] thernstig commented on #89
@jgeurts I just googled and found this: https://hub.docker.com/r/bitnami/openldap/ - if you look at chapter _Securing OpenLDAP traffic_ it has an example there. It even has a docker compose file you can copy & paste early on that page, and then modify it to what is says in the _Securing OpenLDAP traffic_ chapter.

You should then be able to use ldapsearch with `-Y EXTERNAL` and the client certific

[2021-03-31 15:42] #93 closed

[2021-03-31 15:42] #94 closed

[2021-03-31 15:43] jgeurts commented on #93
This should be fixed with 2.12.0. Please let me know if I got it wrong!

[2021-03-31 15:43] jgeurts commented on #94
This should be fixed with 2.12.0. Please let me know if it's still leaking bind credentials

[2021-03-31 15:46] jgeurts commented on #89
@thernstig I wish the process was as simple as what you wrote, but it ended up being like the "draw the rest of the owl" meme, for me.

That said, I have a docker image created, with certs. I have the GitHub action CI hooked up to load the OpenLDAP server and run a unit test that does a basic bind operation. However, I am very much not familiar with sasl. Can you please take what I have and write

[2021-04-01 10:28] thernstig commented on #89
Haha 😆 I do appreciate the sense of humor though! I actually missed that meme and had too google, gave me a good chuckle.

Here are the exact commands I use, which works.
[code]

[2021-04-09 07:37] liudonghua123 opened #96 "Error: Processing on the associated request Timeout limit specified by either the client request or the server administration limits has been exceeded and has been terminated because it took too long to complete. Code: 0x3"
I want to make a filter operation, about 10 seconds passed, then it failed with the following error.

[code]

The code I write is the following.

[code]

It seems the timeout configs did not work as expected. I have also tried to remove `timeout` and `connectTimeout` or set a very large number.

However I can make filter operation in some client tool like `LDAP Admin`.

[2021-04-12 03:58] liudonghua123 commented on #96
Finally, I found the right place for setting filter/search operation timeout which need to add `timeLimit: 0`.

[code]

And SearchRequest needs to update too. see https://github.com/ldapts/ldapts/pull/97.

[2021-04-26 19:02] thernstig commented on #89
Ping @jgeurts 😄 🚀

[2021-04-27 09:12] thernstig commented on #89
Sorry to hear that, get well soon!

[2021-05-13 20:11] jgeurts commented on #96
Apologies on the delay with this. Thank you for the PR, it went out with version 3!

[2021-05-13 20:11] #96 closed

[2021-05-25 07:15] thernstig commented on #89
@jgeurts did you manage to get back on your legs 😃 ?

[2021-06-04 05:57] karthiksreekanta opened #101 "Retrieve computed attributes like msDS-UserPasswordExpired, msDS-UserPasswordExpiryTimeComputedfrom ldap search"
When we search for a ldap user, I found there is no options to retrieve computed attributes such as msDS-UserPasswordExpired, msDS-UserPasswordExpiryTimeComputed.

[2021-06-04 06:48] #101 closed

[2021-07-21 09:02] ppedro1 commented on #82
This seems to resolve my problem with parsing objectGUIDs also. Could/should this be included in the documentation also? :)

[2021-07-21 13:02] stevenhair opened #102 "Don't distribute source maps"
With the source maps included in ldapts builds, we get some strange and incorrect stack traces when errors happen:

[code]

Note the incorrect `node_modules/src/Client.ts` path (it should be `node_modules/ldapts/Client.ts`). The `sources` field in the sourcemap is currently set to "../src/Client.ts", which is what's causing the problem. Alternatively, the build could be modified so that the paths

[2021-07-22 16:20] jgeurts commented on #102
Thanks for letting me know, I'll take a look at how the project is built and will see if there are improvements that can be done to have more accurate source map locations

[2021-07-23 16:17] stevenhair commented on #102
Thanks. It's not a big deal and now that we know that a stack trace like that is from ldapts, but it did take a bit to get to that point.

[2021-07-27 17:52] stevenhair commented on #102
So after running into this myself, this can be fixed by adding the "mapRoot" option to tsconfig.json. I opened a PR.

[2021-07-27 20:12] jgeurts commented on #102
Thanks for the PR! Please feel free to open a new issue if that doesn't solve things. It went out with v3.0.4

[2021-08-03 06:15] sarus opened #104 "Filtering by objectGUID"
Hello,

I'm trying to write a filter against the `objectGUID` attribute using the string representation of the GUID.  Based on the article here: https://docs.microsoft.com/en-us/windows/security/threat-protection/auditing/event-5136 there is a pretty specific conversion that has to happen.

So in my case the objectGUID in string form is `F4C2CE4E-1F08-4358-ABDC-FE3F035AF4CD`.  According to the Mic

[2021-08-04 16:15] jgeurts commented on #104
It seems that both jumpcloud and forumsys do not expose objectGUID. I'm curious, when are you escaping the slash when specifying the filter?

Eg.
[code]

[2021-08-04 16:37] sarus commented on #104
Hi jguerts,

Thank you for your help.  I really appreciate it.  We're doing exactly what you have in your code snippet where we escape the the backslashes in the filter itself.

[code]

[2021-08-05 19:09] mattmahn opened #105 "Expose Socket lifecycle methods"
Can we get the underlying `net.Socket`'s `socket.end()`, `socket.unref()`, and `socket.ref()` methods exposed in the `Client` class.
An example use case would be using it in a script so that the script ends automatically:
[code]

[2021-08-06 11:55] AntonNeld opened #106 "Reading controls in responses from the LDAP server"
Hi,

(I'm not very experienced with LDAP, so I may get some terminology wrong here. I hope it's clear enough anyway.)

I am trying to use an extension that ldapts has no knowledge of ([this](https://ldapwiki.com/wiki/Draft-behera-ldap-password-policy), but the details shouldn't matter too much). The client is supposed to send a control with the bind request, and receive a control back from the ser

[2021-08-09 16:00] jgeurts commented on #105
Hi @mattmahn, sorry for the delay. I'm game to expose those methods, but I'm not sure I completely see the use case.

`socket.end()`:

The socket will end when calling `await ldapClient.unbind();`. That will clean up some event handlers as well.

`socket.ref()` and `socket.unref()`:

With your example, if the bind was successful, then the socket would prevent the application from exiting. I think

[2021-08-10 14:50] johann-agilite commented on #104
I am getting this exact same issue, I am trying to query an AD record using the `objectGUID` in the filter properties. I have tried to do so in both the way mentioned above, with and without the `'objectClass=*'` and I also receive no searchEntries back.

[2021-08-10 21:07] mattmahn commented on #105
Turns out the minimal use case I posted above was a bit too minimal 😅

My exact scenario, being in a web server, is a bit more complicated that this example script.  On further thought, this would be more idiomatic to be handled by a "shutdown hook" system along the lines of
[code]

[2021-08-10 21:07] #105 closed

[2021-08-10 21:26] jgeurts commented on #104
I was using an openldap docker image to run a test server as part of #95. Maybe that could be used to recreate the issue.

[2021-08-16 15:34] jgeurts commented on #106
Sorry for the long delay on getting back to you about this. It looks to be a bug in the design of ldapts. Currently, messages are received from the socket, parsed, and then the parsed message is emitted back to the Client class for final handling. I'm thinking that the message parsing will need to be deferred until after the message is passed back to the Client class. That way, we'll know what typ

[2021-08-17 10:22] AntonNeld commented on #106
No problem :)

That sounds like a good solution to me.

Would the "additional controls specified" be the array of controls passed to (e.g.) bind(), like today? That would certainly work for my use-case, but are there are controls that the client shouldn't send in the request but that can be present in the response? If so, I guess there should be a way to specify which Control instances should be s

[2021-09-20 11:08] ErwSim commented on #104
Same here if you have any workaround

[2021-09-20 12:59] ErwSim commented on #104
Managed to get it work with ldapjs and buffer on filter this way

filter: new ldapjs.EqualityFilter({
            attribute: 'ObjectGUID',
            value: Buffer.from(parsedGUID, 'hex')
          }),

where parsedGUID is formated https://docs.microsoft.com/en-us/windows/security/threat-protection/auditing/event-5136 requests but without backslashes

Maybe ldapts could accept Buffer on filter

[2021-09-20 15:20] jgeurts commented on #104
I added `Buffer` as a possible value type for EqualityFilter. Could you give v3.1.0 a shot if you have a chance?

[2021-09-20 15:34] ErwSim commented on #104
I can confirm it solved the issue @jgeurts
Thank you :)

[2021-09-22 15:56] #104 closed

[2021-12-22 00:32] wattry commented on #89
Hi there,

I'm hope you've recovered from your burst appendix. We've been trying to find this functionality in nodejs for over 5 years. I was reading the python ldap docs provided by @thernstig and noticed the [external](https://ldap3.readthedocs.io/en/latest/ssltls.html?highlight=sasl#external) option credentials needs to be provided as such:

[code]

So in the BindRequest.ts I modified the if st

[2021-12-22 01:53] wattry commented on #89
Can confirm this works exactly as we need it to.

[2021-12-22 03:20] jgeurts commented on #89
The empty password change went out with v3.2.0. @thernstig, please let me know if that works for you or if you're still having troubles. Thanks @wattry!

[2021-12-22 09:05] thernstig commented on #89
@jgeurts that is amazing, let me try this!

[2021-12-22 12:55] wattry commented on #89
Just installed the package from npm and run the app. Still working for my ldaps request

[2021-12-28 20:14] thernstig opened #108 "@types/nodes version in `dependencies` in `package.json`"
https://github.com/ldapts/ldapts/blob/a79f86e7aa0ddd3f7bec7405450199278496dab3/package.json#L51

As can be seen, it requires Node.js 16.x If a user using 17.x installs `@types/node` it means their could be incorrectness in types.

Instead this could be done similar to e.g. `@types/asn1` itself includes `@types/node`:
https://github.com/ldapts/ldapts/blob/a79f86e7aa0ddd3f7bec7405450199278496dab3/pa

[2021-12-30 15:17] #108 closed

[2021-12-30 15:18] jgeurts commented on #108
I think v3.2.1 should fix this. Please let me know if that's not the case!

[2022-01-04 14:29] wattry commented on #89
@thernstig can this be closed?

[2022-01-04 20:10] thernstig commented on #89
@wattry I have been on vacation, let me try to verify this tomorrow.

[2022-01-04 20:18] wattry commented on #89
Sounds good thanks @thernstig

[2022-01-05 22:01] connor-tyndall opened #109 "TypeError when trying to use client.modify"
This is the following error I'm receiving:

[code]

Here is my code (using latest version of ldapts):

[code]

Please advise.

[2022-01-05 22:01] connor-tyndall commented on #109
@jgeurts

[2022-01-14 21:39] #89 closed

[2022-01-14 21:43] jgeurts commented on #109
@connor-tyndall I _think_ you may need to use an attribute class when defining the modification. Could you please try something like:

[code]

[2022-02-22 23:15] jgeurts commented on #109
Closing this due to lack of activity. Please feel free to reopen if needed!

[2022-02-22 23:15] #109 closed

[2022-04-04 21:04] ngingihy opened #112 "I keep geeting TypeError: net.connect is not a function at Client.js:516:35"
I'm using angular with ldapts, i keep getting this error

Here is my typescript code

[code]
this is my temp .html
`  <button (click)="onClick()" class="btn btn-primary">Click Me</button>
`

[2022-04-13 19:39] jgeurts commented on #112
This library likely won't work in a browser as it is currently written & deployed. It's meant more for the server side and node.js.

[2022-04-13 19:39] #112 closed

[2022-06-20 12:12] MaikeVisschedijk opened #113 "Not able to specify it is an base64encoded attribute"
Hi,

I am trying to replace the password attribute of a user, which is base64 encoded. Our LDIFs look like this:

[code]

When we are not sending the password with double column (to show that it is an encoded value), we receive the following error:
LDAP result code 53 - unwillingToPerform] 0000001F: SvcErr: DSID-031A12E8, problem 5003 (WILL_NOT_PERFORM), data 0
Which means that the password violat

[2022-06-23 16:00] vfosnar opened #114 "Cannot upload binary data to OpenLDAP server"
I am using this client to manage user data on my OpenLDAP server. The `;binary` subtype does not work, so I must use `explicitBufferAttributes` like this (this code works):
[code]

But when uploading an image it throws this error: `UndefinedTypeError: jpegPhoto;binary: option "binary" not supported with type Code: 0x11`.

I would really appreciate some help

[2022-06-23 23:00] jgeurts commented on #114
I tried removing auto appending `;binary` to the attribute name when a buffer is detected. Could you please give [v4.1.0-beta1](https://www.npmjs.com/package/ldapts/v/4.1.0-beta1) a shot?

[2022-06-23 23:03] jgeurts commented on #113
I'm struggling to try to reproduce this. I'm using the following code:

[code]

Are you encoding the value similarly?

[2022-06-24 06:58] vfosnar commented on #114
Yes! it worked. Thanks

[2022-06-24 06:58] #114 closed

[2022-06-24 19:27] Philzen opened #116 "Question: Relationship to ldapjs – wrapper, fork or re-implementation?"
We're currently building an LDAP integration in a RedwoodJS project, and after an initial successful implementation with [node-ldapauth-fork](https://github.com/vesse/node-ldapauth-fork) (which wraps ldapjs with some syntactic sugar) i stumbled across ldapts in a medium-article.

Now i'm comtemplating whether to switch to ldapts, as the API looks much cleaner and more appealing at first glance, an

[2022-06-27 17:41] jgeurts commented on #116
Hi, thanks for your interest! Generally speaking, I'd call this project a re-implementation using typescript and modern coding conventions.

When this project started, ldapjs was pretty much dead without a maintainer. There were a number of outstanding issues that were not addressed. So I started this project, basing the original api surface and a fair amount of the underlying logic from ldapjs. T

[2022-06-30 06:57] byujiang opened #117 "Adding support for binding user with email address"
Currently ldapts doesn't support binding user with email address, and only supports binding with the username.  So any plan to adding the email binding support?

The following is the error when I tried to bind with email address:
[code]

[2022-07-13 21:54] pasekit opened #118 "Error in attribute conversion operation"
Try to create a user but getting always an attribute conversion error. tested with an Microsoft ActiveDirectory (Windows Server 2016)

ldapts: 3.2.3
node.js: 16.13.1

[code]

Getting this error:

[code]

[2022-07-22 16:53] ericsienk opened #119 "Unsupported Nullish Coalescing on older versions of Node"
Could you compile this library with a target of es2019? I would really like to use ldapts in a CLI, but not all my users have a version of node that supports the `??` operator. Thanks!

https://github.com/ldapts/ldapts/blob/19e8bed649967556efe8a5d6caa910e41f9d3aea/tsconfig.json#L3

[2022-07-23 19:16] jgeurts commented on #119
Hi @ericsienk,

es2020 should be supported by all node 14+. Any earlier versions of node are not supported. That said, [version 3.2.4](https://github.com/ldapts/ldapts/releases/tag/3.2.4) of ldapts does support es2019 as a target. Hope that helps!

[2022-07-23 19:16] #119 closed

[2022-07-23 19:19] jgeurts commented on #118
Hi, unfortunately, I do not have an environment to replicate the issue. Please let me know if you are able to provide a replication and I'll happily assist in fixing the code.

[2022-07-23 19:19] #116 closed

[2022-07-23 19:20] jgeurts commented on #113
Closing due to inactivity. Please re-open if you're still experiencing the issue.

[2022-07-23 19:20] #113 closed

[2022-08-13 23:18] pasekit commented on #118
Unfortunately, I don't know how you can rebuild the environment without a Windows domain controller.
But can you tell me if the syntax would be correct in principle?

[2022-08-15 19:50] pasekit commented on #118
I was able to fix the problem. it was two errors combined. Once the attribute was wrong and it had to be a secure connection (ldaps) to create an object.
then there was the error that the cn attribute had to match the one in the distinguished name.

this is what works now (with secure ldap):
[code]

[2022-08-15 19:50] #118 closed

[2022-08-30 21:47] jgeurts commented on #117
Closing due to inactivity. Please reopen if you're still having troubles!

[2022-08-30 21:47] #117 closed

[2022-09-08 08:56] ilclaudio opened #121 "How to specify more objectclass values?"
Hi,
when adding an item to Active Directory you can indicate more values for ''objectclass.
In PHP you can do this:
[code]
Is it possible to do something similar with ldapts?
 I have this code:
[code]
Thank you very much.

[2022-09-08 12:20] kishorborate-a commented on #113
@jgeurts
The password field in your example is named as userPassword. but our active directory supports field called unicodePwd.
When I use this as a field name, I get the error invalid format.
I am doing encoding exactly as you have shown.

Following is code example:

`
async replacePassword(dn: string, value: string): Promise<void> {
    const modification = new Attribute({
      type: 'unicodeP

[2022-09-08 14:33] ilclaudio commented on #121
Yes it works. Thank you.

[2022-09-08 14:39] jgeurts commented on #121
Great!

[2022-09-08 14:39] #121 closed

[2022-09-09 08:26] kishorborate-a opened #122 "Not able to update 'unicodePwd' field"
Hi,

I'm trying to replace the password in microsoft active directory by updating unicodePwd field (userPassword field is not supported in our AD). But I keep getting following error:
[code]

Following is my code:
[code]

I have tried different encodings as follows:
[code]

I have double checked that the account has sufficient rights to update the unicodePwd field.

Can you guide how can I update

[2022-09-12 10:49] ilclaudio commented on #122
I have the same problem adding a user on ActiveDirectory.
If I add the user without password it works, but if I add the user specifyng unicodePwd I had this error from the Ldap server:
`Error: 0000001F: SvcErr: DSID-031A12E8, problem 5003 (WILL_NOT_PERFORM), data 0 Code: 0x35`

I read [this ](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-adts/6e803168-f140-4d23-b2d3-c3a8ab5917d2?

[2022-09-12 12:29] ilclaudio commented on #122
Another test that I've done.
I've created the file: marcorossi.txt with this content:

[code]
And I've executed these commands:
[code]
Both works. This means that the user creation works.
But if I specify a value for **unicodePwd** using the **add** method of **ldapts**, the pasword is rejected.

[2022-09-12 14:41] kishorborate-a commented on #122
Hi,

This one worked for me:

[code]

Note that there's no Base64 encoding required.

[2022-09-12 14:41] #122 closed

[2022-09-12 14:50] ilclaudio commented on #122
@kishorborate-a
In the meantime I have found this solution:
[code]
And it seems to work.

Your solution is more elegant but doesn't work for me.

If I use the function:

[code]
  It produces an array and not a string, so I have this error:

[code]

So it is strage to me that is working for you.

[2022-09-12 15:16] kishorborate-a commented on #122
@ilclaudio the Buffer in my solution, you have to pass it in array.

[2022-09-17 11:36] thernstig commented on #106
@jgeurts Any chance you got time for this one 😆 ?

[2022-10-11 16:03] jgeurts opened #123 "Update npms"

[2022-10-11 16:06] #123 closed

[2022-10-27 18:00] deusilva opened #125 "How to handle paged search"
Hi @jgeurts !

FIrst, thanks for the lib! Its beeing very useful for me!

Can you make any documentation on how can we handle paged results?

I want to list the entries in a table with pagination but i could not achieve how to do this on LDAP.

I manage the LDAP with `Apache Directory Studio` and i can search with pagination but i could not achieve this with the lib.

I know that de **search** met

[2022-11-01 16:03] jgeurts commented on #125
I think, unless I'm mistaken, that ldap does not support specifying a specific page to return results. The paging supported is more to suggest to the server how many results to return in separate responses. It's kind of an all or nothing.

If I'm wrong about that, I'd be happy to update the library!

[2022-11-03 11:34] deusilva commented on #125
Understood. When i saw the `pageSize` on `search` i was hopeful. But I did a research this days about that and i couldn't find anything about pagination in LDAP. Its a weird limitation. Why exists the `PagedResultsControl` if the results are not paginated in practice?

Oh well, anyway, thanks again for the pacience, attention e for this awesome lib!

[2022-11-03 11:34] #125 closed